.valueContainer {
  margin-top: 50px;
  align-items: center;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.valueHolder {
  display: flex;
  flex-direction: row;
  box-shadow: 2px 3px 8px 0px #d1d1d18f;
  padding: 15px 20px;
  gap: 10px;
  align-items: center;
  transition: 0.3s;
  margin-bottom: 1px;
  border-bottom: 3px solid transparent;
  border-radius: 5px;
  min-width: 43%;
}

.valueHolder:hover {
  border: none;
  border-bottom: 3px solid #10b981;
  transition: 0.3s;
  margin-bottom: 0px;
  box-shadow: 2px 3px 8px 0px #d1d1d1;
  border-radius: 5px 5px 0px 0px;
}

.valueHolder img {
  width: 45px;
  height: 45px;
}

.valueHolder h4 {
  margin-bottom: 0 !important;
  font-weight: 200 !important;
  font-size: 1.25rem; /* 20px */
}

.valueBox {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  justify-content: center;
}

.valueLeft, .valueRight {
  width: 50%;
}

.valueLeftText {
  margin: 10%;
}

.valueLeftText p {
  font-size: 1.125rem; /* 18px */
}

.valueContainer button {
  background-color: transparent !important;
  color: #10b981 !important;
  border: #10b981 2px solid !important;
  height: 47px;
  line-height: 47px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 25px;
  border-radius: 30px;
  font-size: 1.125rem; /* 18px */
}

.valueContainer button:hover {
  background-color: #10b981 !important;
  color: white !important;
  border: transparent 2px solid;
}

.value h2 {
  position: relative;
  display: inline-block;
  font-size: 2.5rem; /* 40px */
  margin-bottom: 15px;
}

.value h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #333;
  margin-top: 15px;
}

.buttonsHolder {
  margin-top: 12% !important;
  display: flex;
}

/* Mobile styles */
@media screen and (max-width: 600px) {
  .value {
    flex-direction: column;
    margin-bottom: 40px;
    gap: 0px;
  }
  
  .valueLeft, .valueRight {
    width: 95%;
  }
  
  .valueLeftText {
    margin: 15% 5% 8% 5%; /* Reduced margins */
  }
  
  .valueLeftText p {
    font-size: 0.875rem; /* 14px on mobile */
  }
  
  .valueHolder p {
    margin-bottom: 0;
  }
  
  .valueHolder {
    padding: 15px 10px;
    flex-direction: column;
    min-width: 43%;
  }
  
  .valueHolder h4 {
    font-size: 0.875rem; /* 14px on mobile */
  }
  
  .valueBox {
    gap: 12px;
    justify-content: space-around;
  }
  
  .valueContainer {
    margin-top: 0;
  }
  
  .value h2 {
    font-size: 1.5625rem; /* 25px */
  }
}
