/* Service Hero Styles based on the provided CSS */

.heroContainer {
  margin-top: 50px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #e4e6e8, white);
  border-radius: 30px 0 0 30px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 25% 0 0;
  width: 50%;
}

.left p {
  margin: 10px 0;
  font-size: 1.125rem; /* 18px */
}

.leftText {
  margin: 10%;
}

.left h1 {
  margin: 10px 0;
  font-size: 3.125rem; /* 50px */
}

.heroCTAButton {
  height: 47px;
  line-height: 47px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  background-color: #10b981 !important;
  color: white;
  padding: 0 25px;
  border-radius: 30px;
  font-size: 1.125rem; /* 18px */
}

.heroCTAButton:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.heroCTAButton:active {
  transform: translateY(1px);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.8);
  transition: 0.1s;
}

.right {
  border-radius: 25% 0 0 0;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
}

.rightB {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.right img {
  mix-blend-mode: multiply;
  filter: brightness(1.03);
  max-height: 500px;
}

.buttonsHolder {
  margin-top: 12% !important;
  display: flex;
}

/* Mobile styles */
@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column-reverse;
    background: #e4e6e8;
    border-radius: 0 0 30px 30px;
  }

  .right {
    width: 100%;
    border-radius: 0 0 0 25%;
    height: 300px;
  }

  .right img {
    max-height: 300px;
    margin-top: 15%;
  }

  .left {
    width: 100%;
    border-radius: 0 0 10% 10%;
  }

  .left h1 {
    font-size: 1.875rem; /* 30px */
  }

  .left p {
    font-size: 0.875rem; /* 14px */
  }

  .leftText {
    margin: 15% 5% 8% 5%; /* Reduced margins */
  }

  .heroContainer {
    margin-top: 5px;
  }

  .heroCTAButton {
    font-size: 16px;
  }
}
